/* 전체 페이지 스타일 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}

body {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
}

/* Header 스타일 */
header {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* 네비게이션 바 스타일 */
nav {
    background-color: #183d93;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* 본문 스타일 */


/* Footer 스타일 */
footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ddd;
}