<!-- navbar.html -->
<link href="/src/main/webcontent/static/css/navbar.css" rel="stylesheet">

<nav class="navigation">
    <ul>
        <li class="nav-menu">
            <a href="#">학과소개</a>
            <div class="submenu">
                <a href="#">학과장 인사말</a>
                <a href="#">학과연혁</a>
                <a href="#">교육목표</a>
                <a href="#">교수진</a>
                <a href="#">호텔경영학과란</a>
                <a href="#">졸업후진로</a>
            </div>
        </li>
        <li class="nav-menu">
            <a href="#">교육과정</a>
            <div class="submenu">
                <a href="#">교과과정표</a>
                <a href="#">교과목소개</a>
            </div>
        </li>
        <li class="nav-menu">
            <a href="#">졸업생</a>
            <div class="submenu">
                <a href="#">test1</a>
                <a href="#">test2</a>
            </div>
        </li>
        <li class="nav-menu">
            <a href="#">공지사항</a>
            <div class="submenu">
                <a href="#">학과공지사항</a>
                <a href="#">입학안내</a>
                <a href="#">학과갤러리</a>
            </div>
        </li>
        <li class="nav-menu">
            <a href="#">커뮤니티</a>
            <div class="submenu">
                <a href="#">자유게시판</a>
                <a href="#">자료공유</a>
            </div>
        </li>
        <li class="nav-menu">
            <a href="#">학생활동</a>
            <div class="submenu">
                <a href="#">학생회</a>
                <a href="#">동아리</a>
            </div>
        </li>
        <li class="nav-menu">
            <a href="#">참고사이트</a>
            <div class="submenu">
                <a href="#">기관</a>
                <a href="#">연구</a>
            </div>
        </li>
    </ul>
</nav>
