<!-- content.html -->
<!-- main -->
<link href="/src/main/webcontent/static/css/content.css" rel="stylesheet">


<div id="slide-container">
    <ul class="bxslider">
        <li class="slide-box">
            <img src="/src/main/webcontent/static/images/slide_1.JPG" height="480px" width="100%" alt="이미지1">
        </li>
        <li class="slide-box">
            <img src="/src/main/webcontent/static/images/slide_2.JPG" height="480px" width="100%" alt="이미지 2">
        </li>
        <li class="slide-box">
            <img src="/src/main/webcontent/static/images/slide_3.JPG" height="480px" width="100%" alt="이미지 3">
        </li>
    </ul>
</div>
