<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <script src="/src/main/webcontent/static/includHTML.js"></script>
    <link href="/src/main/webcontent/static/css/index.css" rel="stylesheet">

</head>
<body>
    <header include-html="/src/main/webcontent/templates/header.html"></header>
    <nav include-html="/src/main/webcontent/templates/navbar.html"></nav>
    <article include-html="/src/main/webcontent/templates/main/content.html"></article>
    <footer include-html="/src/main/webcontent/templates/footer.html"></footer>

 
</body>
<script>
    includeHTML();
</script>
</html>
